
#root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f5f4;
}

body {
    margin: 0;
    padding: 0;
}


/* NavBar Styles */

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 89vw;
    z-index: 1000;
    background-color: #f6f5f4;
}

.logo-container {
    align-self: flex-start;
    margin-right: auto;
}

.nav-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding-right: 100px;
}

.mobile-link-container {
    display: none;
}

.nav-link-container a {
    text-decoration: none;
    color: slategray;
}

.nav-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 5px;
}

.nav-hamburger-line {
    background-color: slategray;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

.open {
    transform: rotate(-45deg);
}

.nav-link-container a:hover {
    color: rgb(190, 163, 122);
}

/* HomePage Styles */

.home-page-body {
    margin-top: 120px;
}

.crsl {
    height: 75vh;
    width: 99vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.crsl img {
   max-height: 100%;
   max-width: none;
   padding: 0 5vw;
}

.home-about-container {
    display: flex;
    width: 99vw;
    height: 800px;
    background-color: blanchedalmond;
    overflow: hidden;
}

.about-img {
    max-width: 40%;
    height: auto;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.about-text {
    width:60%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    padding: 10vw;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 83, 89);
}

.about-text h2 {
    font-weight: 200;
    letter-spacing: .3em;
}

.about-text p {
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1.5em;
}

.contact-container {
    display: flex;
    width: 99vw;
    height:700px; 
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 83, 89);
    overflow: hidden;
}

.contact-details {
    width: 50%;
    height: 100%;
    background-color: #f6f5f4;
    overflow: hidden;
}

.contact-details-text {
    font-weight: 100;
    font-size: 0.875em;
    background-color: whitesmoke;
    padding: 10%;
    padding-right: 120px;
    text-align: end;
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 50%;
    width: 50%;
    height: 100%;
    background-image: url('../images/pastry.webp');
    background-size: cover;
    background-position: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 60%;
    height: 80%;
    background-color: hsl(30, 10%, 96%, 80%);
    border-radius: 10px;
}

.contact-form h2 {
    font-weight: 200;
    letter-spacing: .25em;
}

.contact-form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contact-form div label {
    font-weight: 100;
    letter-spacing: .1em;
    margin-right: 8px;
    text-decoration: bold;
}

.contact-form div input, textarea {
   border: 1px rgb(190, 163, 122) solid;
}

/* Menu Styles */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding: 60px;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: thick double slategray;
    border-radius: 10px;
    padding: 20px 60px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(77, 83, 89);
}

.menu h1 {
    font-size: 3em;
    font-weight: 200;
    letter-spacing: .1em;
    font-style: italic;
}

.menu h2 {
    font-weight: 300;
    letter-spacing: .3em;
}

.menu-item {
    font-weight: 200;
}

.menu-item-description {
    font-size: .8em;
    font-style: italic;
}

/* Media Queries */

@media screen and (max-width: 800px) {

    .nav-hamburger {
        display: flex;
    }

    .nav-link-container {
        display: none;
    }

    .mobile-link-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        background-color: hsla(0, 0%, 100%, 0.8);
    }

    .mobile-link-container.show {
        display: flex;
    }

    .mobile-link-container .nav-link {
        text-decoration: none;
        color: slategray;
        font-weight: 400;
    }

    .nav-link {
        text-align: center;
        margin: 10px 0;
    }

    
    .home-about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    
    .about-img {
        height: 500px;
        max-width: none;
        width: auto;
        margin: 40px 0 10px 0;
    }

    .about-text {
        margin: 25px auto;
    }

    .contact-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .contact-form-container {
        max-width: none;
        width: 97%;
        height: 700px;
    }

    .contact-details, .contact-details-text {
        max-width: none;
        width: 80%;
        text-align: center;
    }
}